@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');
/* FUNDO DA TELA */
    body
    {
        background-color: white;
    }
/* FIM FUNDO DA TELA */

/* CABEÇALHO */
.cabecalho {
    display: flex;
    justify-content: center;
    font-family: "Lexend", sans-serif;
    padding: 2%;
    background-color: #11151C;
    position: sticky;
    top: 0;
}
.logocabecalho img {
    width: 120px;
}
.logocabecalho {
    margin-right: 2%;
}
.nav-link {
    color: #F8F4F9;
    text-transform: uppercase;
}
.nav-link:hover {
    color: #c5c5c5;
}
.nav-underline {
    color: #c5c5c5;
}
/* FIM CABEÇALHO */

/* PRODUTOS */
.produtos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84%;
    margin-left: auto;
    margin-top: 2%;
    margin-right: auto;
    gap: 16px;
    flex-wrap: wrap;
}
.descricao {
    font-family: "Sarala", sans-serif;
}
.camisa img {
    width: 70%;
}
.teste {
    flex-basis: calc(25% - 16px);
    text-align: center;
}
.camisa:hover {
    
}


/* FIM PRODUTOS */